<main class="TodoPgeMain">
  <article>
    <h1 class="TodoPage-title"> My Todo-List</h1>

    <%= form_with(url: "/todos",method:"post",class: "AddTodo") do %>
      <%= text_field_tag 'todo_text', nil , placeholder:"what is next?", class:"AddTodo-text" %>
      <%= date_field :due_date, :"" ,class:"AddTodo-date" %>
      <%= submit_tag 'Add',class:"AddTodo-button" %>
    <% end %>

    <%= render partial:"todo-section", locals: {
      section_title: "Overdue",
      todos: Todo.overdue.complete,
      show_due_date:true
    } %>

    <%= render partial:"todo-section", locals: {
      section_title: "Due Today",
      todos: Todo.due_today,
      show_due_date:false
    } %>

    <%= render partial:"todo-section", locals: {
      section_title: "Due Later",
      todos: Todo.duelater,
      show_due_date:true
    } %>

  </article>
</main>
